@tailwind components;

@layer components {

  .Button {
    @apply flex flex-row justify-center
    bg-sky-200 
    border border-solid border-sky-700
    hover:font-semibold
    active:border-solid active:border-sky-200
    active:bg-sky-200
    p-2
  }

  .Button > * {
    @apply p-2
  }

  .Button > :nth-child(2) {
    @apply p-1
  }

}