@tailwind components;

@layer components {

  .DataSection,
  .DataSectionSkeleton {
    @apply flex flex-row
    w-full
    bg-white bg-opacity-50
    p-8
  }

  .ChartSectionSkeleton,
  .ListSectionSkeleton {
    @apply flex flex-row
    w-full
  }

  .ChartSection,
  .ListSection {
    @apply flex flex-row justify-center
    w-full
  }

  .ChartContent {
    @apply
    w-full
    max-w-[calc(1280px)]
    aspect-[2]
    bg-gray-50 text-gray-600 text-xs
  }

  .DataSection:has(.ListContent) {
    @apply p-0
  }

  /* .Wide .ListContent {
    @apply
    w-full
    max-w-[calc(1280px)]
    aspect-[2.5]
    bg-transparent
    text-sky-950
  }

  .Wide .ListContent caption,
  .Wide .ListContent th,
  .Wide .ListContent td {
      @apply border-sky-950
      bg-transparent
      text-sm
  } */

  .MapContent {
    @apply
    w-full
    aspect-[2]
    bg-gray-50 text-gray-600 text-xs
  }

  div:has(.MapContent) {
    @apply p-0
  }

}
