@tailwind components;

@layer components {

  * {
    /* @apply border border-white border-dotted */
  }
    
  .Tooltip {
    @apply p-2 bg-yellow-100 border border-gray-400
  }

  .Tooltip table {
    @apply mt-1
  }

  .Tooltip tr {
    @apply border border-gray-400
  }

  .Tooltip td {
    @apply p-1
  }

  .Tooltip td.value {
    @apply pl-2 font-mono text-right
  }

}