@tailwind components;

@layer components {

  .Form {
    @apply min-w-full min-h-full
    text-xs
  }

  .FormSection {
    @apply m-2 bg-white bg-opacity-50 text-sky-800
    pb-1
  }

  .FormSection > * {
    @apply min-w-full text-inherit
  }

  .FormSection > .Top {
    @apply p-1
  }

  .FormSection > .Bottom {
  }
   
}