@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * { border: 1px dotted grey } */

@layer components {
  body {
    @apply bg-neutral-100 text-indigo-400
  }

  .app-border {
    @apply border-2 border-indigo-300 bg-indigo-200 p-6
  }

  .app-title {
    @apply min-w-full p-4 px-6 text-3xl font-semibold text-indigo-300
    hover:text-indigo-400
  }

  .app-options {
    @apply flex flex-row flex-wrap items-stretch justify-items-start min-w-full
  }

  .app-options .option {
    @apply flex flex-row justify-items-start
    w-full md:w-[calc(50%-2rem)] lg:w-[calc(25%-2rem)] border-2 border-indigo-300 m-4
    hover:bg-indigo-300
  }

  .app-options .option .LinkIcon {
    @apply min-h-full p-4 bg-indigo-300 text-4xl text-indigo-200
  }

  /* .app-options .option:hover .LinkIcon {
    @apply text-indigo-400
  } */

  .app-options .option .LinkText {
    @apply min-h-full p-4 font-semibold text-indigo-600
  }

  .page-title {
    @apply min-w-full p-4 px-6 text-xl font-semibold text-indigo-300
    hover:text-indigo-400
  }

  .page-sections {
    @apply flex flex-row flex-wrap items-stretch justify-items-start min-w-full text-sm
  }

  .ParamSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(25%-2rem)] border-2 border-indigo-300 md:m-4
  }

  .ParamLabel {
    @apply text-indigo-50
  }

  .ParamContent {
    @apply flex flex-col justify-start p-2
  }

  .ParamContent > div {
    @apply my-2
  }

  .DataSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(75%-2rem)] my-4
  }

  .ChartSection, .ListSection {
    @apply flex flex-col justify-items-start
    w-full border-2 border-indigo-300
  }

  .ChartSection {
    @apply mb-6
  }

  .ChartLabel, .ListLabel {
    @apply text-indigo-50
  }

  .ChartContent {
    @apply bg-gray-100 text-gray-600 text-xs
  }

  .ListContent {
    @apply flex flex-row justify-center border-2 border-gray-400 p-2
    bg-gray-700 text-gray-300
    overflow-scroll
  }

  .ListContent td {
    @apply border-2 border-gray-600 p-2 px-6 text-xs
  }

  .ParamLabel, .ChartLabel, .ListLabel {
    @apply bg-indigo-300 p-2
  }

  .ChartContent {
    min-height: 55vh;
    max-height: 55vh;
  }

  .ListContent {
    min-height: 45vh;
    max-height: 45vh;
  }
}

.Form {
  @apply min-w-full min-h-full text-sm
}

.FormSection {
  @apply m-2 bg-indigo-100
}

.FormSection > * {
  @apply min-w-full text-inherit
}

.FormSection > .Top {
  @apply p-1
}

.FormSection > .Bottom {
}

.Field {
  @apply m-2
}

.Field > * {
  @apply box-border border border-transparent
}

.Field > :nth-child( 1 ) {
  @apply inline-block w-1/4 bg-indigo-200 p-1
}

.Field > :nth-child( 2 ) {
  @apply w-3/4 border-indigo-200 p-1
}

input, select, button {
  /* @apply outline-none border border-dashed border-transparent focus:border-indigo-300 */
  @apply outline-none focus:bg-yellow-50 focus:border-dashed
}
