@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * { border: 1px dotted grey } */

@layer components {

  body {
    /* @apply bg-[url("/water.jpg")] */
    /* @apply bg-[url("/water-brightness-50.jpg")] */
    @apply bg-[url("/water-blueish.jpg")]
  }

  .icon {
    @apply cursor-pointer
  }

  .ParamSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(25%)]
  }

  .ParamSection, .ChartSection, .ListSection {
    @apply border-2 border-sky-700
  }

  .ParamContent {
    @apply flex flex-col justify-start p-2
  }

  .DataSection {
    @apply flex flex-col justify-items-start space-y-4
    w-full md:w-[calc(75%)]
  }

  .Error {
    @apply
    bg-white bg-opacity-65 p-3
    text-red-600
  }

  .Error .icon {
    @apply text-lg
  }

  .ChartSection, .ListSection {
    @apply flex flex-col justify-items-start
    w-full 
  }

  .ChartContent {
    @apply 
    bg-sky-100 text-gray-600 text-xs
    min-h-[calc(55vh)]
    max-h-[calc(55vh)]
  }

  .ListContent {
    @apply flex flex-row justify-center
   bg-gray-700 text-gray-300 text-xs
    min-h-[calc(50vh)]
    max-h-[calc(50vh)]
    overflow-scroll
  }

  .ListContent td {
    @apply border-2 border-gray-600 p-2 px-6
  }
}
