@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * { border: 1px dotted grey } */

@layer components {

  body {
    @apply bg-sky-900 text-sky-400
  }

  /* Header */

  .Header {
      @apply flex flex-col space-y-0
      p-2 pb-4
    }

  .Header * {
    /* @apply border border-white border-dotted */
  }

  .Header .Top,
  .Header .Bottom {
    @apply flex flex-row justify-between
  }

  .Header > .Top > *,
  .Header > .Bottom > * {
    @apply flex flex-row
  }

  .Header > .Top > * {
    @apply hover:text-yellow-100
  }

  .Header .icon {
    @apply w-12 p-2 pt-3
  }

  .Header > .Top .text {
    @apply p-2 text-3xl font-semibold
  }

  .Header > .Bottom .text {
    @apply ml-2 text-sm font-semibold 
  }


  .app-options {
    @apply flex flex-col items-center
    min-w-full bg-sky-200 p-6
  }

  .app-options .option {
    @apply flex flex-row justify-items-start
    w-full md:w-[calc(66%-2rem)] lg:w-[calc(50%-2rem)] border-2 border-sky-500 m-4
    hover:bg-sky-500
  }

  .app-options .option .icon {
    @apply w-12 bg-sky-500 text-sky-200 p-2 pt-3
  }

  .app-options .option .text {
    @apply w-full min-h-12 p-4 font-semibold text-sky-600 
    hover:text-sky-200
  }

  .page-sections {
    @apply flex flex-row flex-wrap items-stretch justify-items-start min-w-full text-sm
  }

  .ParamSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(25%-2rem)] border-2 border-sky-200 md:m-4
  }

  .ParamLabel {
    @apply text-sky-100
  }

  .ParamContent {
    @apply flex flex-col justify-start p-2
  }

  .ParamContent > div {
    @apply my-2
  }

  .DataSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(75%-2rem)] my-4
  }

  .Error {
    @apply mb-6 bg-rose-300 text-rose-600 p-3
  }

  .ChartSection, .ListSection {
    @apply flex flex-col justify-items-start
    w-full border-2 border-sky-200
  }

  .ChartSection {
    @apply mb-6
  }

  .ChartContent {
    @apply bg-gray-100 text-gray-600 text-xs
  }

  .ListContent {
    @apply flex flex-row justify-center border-2 border-gray-400 p-2
    bg-gray-700 text-gray-300
    overflow-scroll
  }

  .ListContent td {
    @apply border-2 border-gray-600 p-2 px-6 text-xs
  }

  .ParamLabel, .ChartLabel, .ListLabel {
    @apply bg-sky-200 p-2 text-sky-900
  }

  .ChartContent {
    min-height: 55vh;
    max-height: 55vh;
  }

  .ListContent {
    min-height: 45vh;
    max-height: 45vh;
  }
}

.Form {
  @apply min-w-full min-h-full text-sm
}

.FormSection {
  @apply m-2 bg-sky-200 text-sky-800
}

.FormSection > * {
  @apply min-w-full text-inherit
}

.FormSection > .Top {
  @apply p-1
}

.FormSection > .Bottom {
}

.Field {
  @apply m-2
}

.Field > * {
  @apply box-border border border-transparent
}

.Field > :nth-child( 1 ) {
  @apply inline-block w-1/4 bg-sky-800 p-1 text-sky-500 

}

.Field > :nth-child( 2 ) {
  @apply w-3/4 border-sky-800 p-1
}

input, select, button {
  @apply outline-none placeholder-gray-400
  bg-gray-100 text-sky-800 
  focus:bg-yellow-100 focus:border-dashed
}
