@tailwind components;

@layer components {

  * {
    /* @apply border border-white border-dotted */
  }
    
  .Header {
    @apply flex flex-col space-y-0
    m-4 p-2 pb-4 
    /* border-2 border-sky-700 */
    text-sky-700
    bg-white bg-opacity-50
  }

  .Content {
    @apply flex 
    flex-col md:flex-row 
    space-x-0 md:space-x-4
    space-y-4 md:space-y-0
    max-w-full 
    m-4 text-sm
  }

  .Footer {
    @apply flex flex-row flex-wrap justify-center
    m-4 p-1 
    text-sky-700
    /* bg-white bg-opacity-50 */
  }

  .Footer > * {
    @apply m-2 text-sm font-semibold
  }

  .Footer > a {
    @apply border-b border-sky-700
  }

  .Header .Top,
  .Header .Bottom {
    @apply flex flex-row justify-between
  }

  .Header > .Top > *,
  .Header > .Bottom > * {
    @apply flex flex-row
  }

  .Header > .Top > * {
    /* @apply hover:bg-sky-700 hover:bg-opacity-35 hover:text-sky-300 */
  }

  .Header .icon {
    @apply w-12 h-8 p-2 text-2xl
  }

  .Header > .Top {
    @apply border-b-2 border-sky-700
  }

  .Header > .Top > .Left .icon {
    @apply pt-3
  }

  .Header > .Top > .Right > .icon {
    @apply text-3xl
  }

  .Header > .Top .text {
    @apply p-2 text-3xl font-bold
  }

  .Header > .Bottom .text {
    @apply ml-2 h-full pt-4 text-sm font-semibold 
  }
}
