@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  * {
    /* @apply border border-white border-dotted */
  }
    
  .Header {
    @apply flex flex-col space-y-0
    p-2 pb-4
  }

  .Header .Top,
  .Header .Bottom {
    @apply flex flex-row justify-between
  }

  .Header > .Top > *,
  .Header > .Bottom > * {
    @apply flex flex-row
  }

  .Header > .Top > * {
    @apply hover:text-yellow-100
  }

  .Header .icon {
    @apply w-12 p-2 pt-3 text-2xl
  }

  .Header > .Top .text {
    @apply p-2 text-3xl font-semibold
  }

  .Header > .Bottom .text {
    @apply ml-2 text-sm font-semibold 
  }
}
