@tailwind components;

@layer components {

  * {
    /* @apply border border-white border-dotted */
  }
    
  .Label,
  .LabelSkeleton {
    @apply
    min-h-10
  }

  .Label {
    @apply flex flex-row justify-between
    p-2 text-sm
    bg-sky-700  text-sky-300 
  }

  .Label > .Left {
    @apply font-semibold 
  }

  .Label > .Right > * {
    @apply mx-1 p-1 border border-sky-300
    hover:bg-sky-300 hover:text-sky-700
  }

}
