@tailwind components;

@layer components {

    .Modal {
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
        ...opacity applies to the element as a whole, including its contents... 
        Thus, the element and its children all have the same opacity..., even if they have different opacities...
        To change the opacity of a background only, use the background property... that allows for an alpha channel... */
        background: rgba( 125, 225, 225, .5 );

        /* min-height: 100vh;
        min-width: 100vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* animation-name: modalOpacity;
        animation-duration: 250ms;
        animation-delay: 0ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1; */
    }

    .ModalWindow {
        width: 800px;
        height: 600px;
        max-width: 95vw;
        max-height: 95vh;
        /* background-color: #fef9c3; */
    }

    .ModalWindow {
        @apply border-2 border-sky-700 bg-sky-200
    }

    .ModalWindow > .Top,
    .ModalWindow > .Bottom {
        padding: 1.5em;
    }

    .ModalWindow > .Top {
        height: 10%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        /* border-bottom: 2px solid lightgrey; */
    }

    .ModalWindow > .Top > * {
        display: inline-block;
        font-size: 1.5em;
        /* background-color: #fef9c3;
        color: #0369a1; */
    }

    .ModalWindow > .Top {
        @apply bg-sky-700 text-sky-200
    }

    .ModalWindow > .Top > * {
        @apply bg-sky-700 text-sky-200
    }

    .ModalWindow > .Bottom {
        @apply flex flex-col justify-center
    }

    .UrlModal .ModalWindow > .Bottom,
    .DownloadModal .ModalWindow > .Bottom {
            @apply h-[80%] p-8
        text-sky-700
    }

    .UrlModal .ModalWindow > .Bottom > *,
    .DownloadModal .ModalWindow > .Bottom > * {
            @apply m-4
    }

    .UrlModal .ModalWindow > .Bottom > *:nth-child(1) {
        @apply border border-dotted border-sky-700 
        p-2 break-words
    }

    .UrlModal .ModalWindow > .Bottom > *:nth-child(1),
    .DownloadModal .ModalWindow > .Bottom > * {
            @apply w-[70%] ml-[15%]
    }

    .DownloadModal .ModalWindow > .Bottom  > *:nth-child(1) > input {
        @apply w-full bg-transparent
        border border-sky-700 border-dashed p-4
    }

    .UrlModal .ModalWindow > .Bottom > *:nth-child(2) {
        @apply w-[40%] ml-[30%]
    }

    .DownloadModal .ModalWindow > .Bottom > :not(*:nth-child(1)) {
        @apply w-[40%] ml-[30%]
    }

}
@keyframes modalOpacity { 0% { opacity: 0; } 100% { opacity: .35; } }
