@tailwind components;

@layer components {

  .ParamSection {
    @apply flex flex-col justify-items-start
    w-full md:w-[calc(25%)]
  }

  .ParamSection, .ChartSection, .ListSection {
    @apply border-2 border-sky-700
  }

  .ParamContent {
    @apply flex flex-col justify-start p-2
  }

  .DataSection,
  .DataSectionSkeleton {
    @apply flex flex-col justify-items-start space-y-4
    w-full md:w-[calc(75%)]
  }

  .ChartSectionSkeleton, .ListSectionSkeleton {
    @apply bg-white bg-opacity-50 p-3
    min-h-[calc(3rem+55vh)] /* min label height + content height */
  }

  .ListSectionSkeleton {
    @apply 
    min-h-[calc(3rem+45vh)] /* min label height + content height */
  }

  .ChartSection, .ListSection {
    @apply flex flex-col justify-items-start
    w-full 
  }

  .ChartContent {
    @apply
    min-w-full
    max-w-full
    aspect-[2]
    /*min-h-[calc(55vh)]
    max-h-[calc(55vh)] */
    bg-gray-50 text-gray-600 text-xs
  }
}
